<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%- body %></h1>
    <h1><%= body %></h1>
    <!--<li><%= list %></li>-->

    <ul>
      <% for(var i=0; i<list.length; i++) {%>
      <li><%= list[i].name %></li>
      <% } %>
    </ul>
  </body>
</html>
